:root {
    --accent: rgb(238, 121, 255);
    --emphasis: rgb(236, 161, 255);
}

html {
    height: 100%;
}

body {
    margin: 0 auto 0 auto;
    max-width: 800px;
    background-color: rgb(36, 8, 23);
    color: white;
    font-family: monospace;
    font-size: 18px;
    line-height: 24px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: var(--accent);
    border-radius: 2px;
    padding: 10px;
    text-align: center;
}

/* Header */

header {
    display:flex;
	align-items: center;
	white-space: nowrap;
    justify-content: space-between;
	flex-wrap: wrap;
    border-radius: 18px;
    border: 2px solid var(--accent);
    padding: 4px;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 20px;
}

#hlogo {
    max-width: 48px;
    max-height: 48px;
}

/* Titles */

h1 {
    color: var(--emphasis);
}

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p {
    padding: 20px;
}

#ll {
    padding: none;
    list-style: none;
    font-weight: bold;
    line-height: 30px;
}

/* Lists */

.instance-l {
    margin: 0 20px 0 20px;
    padding: 4px;
    display: flex;
    background-color: rgb(58, 19, 40);
    border: 1px solid rgb(96, 44, 104);
    height: 50px;
    align-items: center;
    justify-content: center;
    border-bottom: 0;
}

.instance-l:first-child {
    margin-top: 20px;
}

.instance-l:last-child {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(96, 44, 104);
}

.instance-l a {
    margin-right: 45%;
}

.instance-l label, .instance-l p {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

#activity-status-active {
    color: rgb(0, 199, 0);
}

#activity-status-inactive {
    color: rgb(199, 0, 0);
    margin-left: 19px;
}

/* News */

.news-prompt {
    background-color: rgb(58, 19, 40);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid rgb(96, 44, 104);
    border-radius: 4px;
    padding: 10px;
}

.news-prompt #title, #desc {
    margin: 0;
    font-weight: bold;
    padding: 2px;
}

.news-prompt #title {
    display: inline;
}

.news-prompt #date {
    color: rgb(200, 200, 200);
    margin-right: 10px;
}


/* Mobile Compatibility */

@media only screen and (max-width: 720px) {
    header a {
        margin-left: auto;
        margin-right: auto;
    }
    header nav {
        margin-left: auto;
        margin-right: auto;
    }
    .instance-l a {
        margin-right: 15%;
    }
    body {
    	line-height: 38px;
    }
}
